.image {
  height: 10vh;
  width: 17.78vh;
  margin-left: 24px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  border-bottom: 1px solid white;
  min-height: 10vh;
  max-height: 10vh;
  background-color: #081A26;
  position: fixed;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.button {
  outline: none;
  border: none;
  border-radius: 4px;
  color: #081A26;
  background-color: #F59E0B;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-right: 1vw;
  font-size: 18px;
  font-weight: bold;
}